.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 940px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url();
  /* https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
  /* https://images.unsplash.com/photo-1617609277590-ec2d145ca13b?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 74px;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
}

.banner p {
  font-size: 54px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.45);
}
